* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  font-size: 80px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 40px;
}

header {
  padding: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deplace {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 14px;
  letter-spacing: 1px;
}

.cart {
  padding-left: 80px;
  font-size: 14px;
}

body {
  text-align: center;
  background-color: #fcf9ee;
}

.collection {

  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.yellowpant {
  max-width: 300px;
}

.yellowpant img {
  width: 80%;
  height: auto;
}
.redpant img {
  width: 80%;
  height: auto;
}

.expl img {
  width: 50%;
  height: auto;
}

.Explore {
  display: flex;
  padding-right: 10%;
  justify-content:flex-end;
  padding-bottom: 5%;
}

.liston {
  background: #ddc92a;
  color: #000;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
}

.listontxt{
  display: inline-block;
  animation: liston 20s linear infinite;
}

@keyframes liston {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}