* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  width: 900px;
  height: 370px;
  left: 700px;
  position: relative;
  line-height: 0.9;
}

header {
  display: flex;
  position: sticky;
  top: 20px;
  justify-content: space-between;
  align-items: center;
}

.deplace {
  position: relative;
  top: 15px;
  left: 20px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1.2px;
  font-family: 'TT Bluescreens Trial Condensed DemiBold', sans-serif;
}

.cart {
  right: 30px;
  bottom: 15px;
  position: relative;
  font-size: 12px;
  font-family: 'signate Grotesk', sans-serif;
}

body {
  text-align: center;
  background-color: #fcf9ee;
}

.collection {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.yellowpant img {
  position: relative;
  left: 1px;
  width: 500px;
  height: auto;
}
.redpant img {
  position: relative;
  left: 26px;
  width: 500px;
  height: auto;
}

.expl img {
  position: relative;
  width: 80px;
  height: auto;
  bottom: 34px;
}

.shop img {
  position: relative;
  width: 80px;
  height: auto;
  bottom: 29px;
}

.shopall{
  position: relative;
  display: flex;
  right: 230px;
  justify-content:flex-end;
  font-family: 'Signate Grotesk', sans-serif;
  font-size: 26px;
  padding-top: 50px;
}

.Explore {
  position: relative;
  display: flex;
  right: 540px;
  justify-content:flex-end;
  padding-bottom: 80px;
  font-family: 'Signate Grotesk', sans-serif;
  font-size: 26px;
}

.liston {
  position: absolute;
  background: #ddc92a;
  color: #000;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  border-width: 0.04cm;
  border-style: solid;
  height: 80px;
}

.listontxt{
  font-family: 'Body-Grotesque-Large-Bold-trial', sans-serif;
  font-size: 40px;
  display: inline-block;
  animation: liston 180s linear infinite;
  position: relative;
  top: 10px;
}

@keyframes liston {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.about {
  padding: 230px 0px 150px 0px  ;
  text-align: center;
  max-width: 1060px;
  margin: 0 auto;
}

.about-text {
  font-size: 70px;
  line-height: 1.2;
  font-family: 'Signate Grotesk', sans-serif;
  text-align:start;
}


@font-face {
  font-family: 'Signate Grotesk';
  src: url('fonts/signategrotesk-black.ttf') format('ttf'),;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Bluescreens Trial Condensed DemiBold';
  src: url('fonts/TT Bluescreens Trial Condensed DemiBold.ttf') format('ttf'),;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Body-Grotesque-Large-Bold-trial';
  src: url('fonts/Body-Grotesque-Large-Bold-trial.ttf') format('ttf'),;
  font-weight: normal;
  font-style: normal;
}

.nothing-you-could-do-regular {
  font-family: "Nothing You Could Do", serif;
  font-weight: 400;
  font-style: normal;
}


.fuentetitle{
  display: flex;
  left: 50px;
  top: 140px;
  position: absolute;
  font-size: 120px;
  font-family: 'Signate Grotesk', sans-serif;
}

.fuentetitleMinor{
  display: flex;
  right: 12px;
  bottom: 12px;
  position: absolute;
  font-size: 50px; 
  font-family: 'Nothing You Could Do', serif;
}

.wrapper{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: grab;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-drag: none;
}

.wrapper::-webkit-scrollbar{
  width: 0;
}

.wrapper .shoes{
  min-width: 500px;
  text-align: center;
  margin-right: 100px;
}

.footer {
  background-color: #f8f5e9;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.review p{
  position: relative;
  left: 1300px;
  bottom: 120px;
  width: 600px;
  font-size: 22px;
  line-height: 1.2;
  font-family: 'Signate Grotesk', sans-serif;
  text-align:start;
}
.review{
  padding-top: 140px;
  padding-bottom: 80px;
}

.review img{
  bottom: 15px;
  position: relative;
  left: 100px;
  width: 250px;
  height: auto;
}